<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="read and analyze tweets">
    <meta name="keywords" content="Twitter, Type, test" />
    <link rel="icon" href="~/Content/img/Stackify/favicon.ico">
    <link rel="icon" type="image/png" href="~/Content/img/Stackify/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/img/Stackify/favicon-16x16.png" sizes="16x16" />
    <meta name="author" content="Nicholas McClain-Simpson">
    <title>@ViewBag.Title - Type Test</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Color -->
    <link id="skin" href="~/Content/green.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://use.fontawesome.com/403e0908b1.js"></script>
    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">*@

    @* This application was made to demo the functionality of Stackify Retrace *@

</head>
<body>
    <!-- Start preloading -->
    <div id="loading" class="loading-invisible">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
                <div class="object" id="object_five"></div>
                <div class="object" id="object_six"></div>
                <div class="object" id="object_seven"></div>
                <div class="object" id="object_eight"></div>
                <div class="object" id="object_big"></div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("loading").className = "loading-visible";
        var hideDiv = function () { document.getElementById("loading").className = "loading-invisible"; };
        var oldLoad = window.onload;
        var newLoad = oldLoad ? function () { hideDiv.call(this); oldLoad.call(this); } : hideDiv;
        window.onload = newLoad;
    </script>
    <!-- End preloading -->

    <!-- Start Navigation -->
    <nav class="navbar navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img style="height: 150%;" src="~/Content/img/Stackify/Stackify_Logo_Green_OnWhite_600.png" class="logo" alt="Stackify Logo"></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse collapse-list" id="navbar-menu">
                <ul class="nav-list" data-in="fadeInDown" data-out="fadeOutUp">
                    <li>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>                            
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>                          
                        </ul>
                    </li>
                    <li>
                        
                        <ul>                            
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                            }
                            <li>@Html.ActionLink("Tweet Analysis", "Tweets", "Home")</li>
                            @Html.Partial("_LoginPartial")                            
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div></div>
    <!-- End Navigation -->
        @RenderBody()
    <!-- Start to top -->
    <a href="#" class="scrollToTop">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- End to top -->
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix"></div>
            <!-- Start footer -->
            <footer class="white-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                            <div class="widget">
                                <ul class="link-list">
                                    <li><a href="#">Links</a></li>
                                    <li><a href="#">Another Link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6">
                            <div class="widget">
                                <ul class="link-list">
                                    <li><a href="#">Other Link</a></li>
                                    <li><a href="#">And Another</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </footer>
            <!-- End footer -->
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootsnav.js"></script>
    <script src="~/Content/js/jquery.easing-1.3.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Custom form -->
    <script src="~/Content/js/form/jcf.js"></script>
    <script src="~/Content/js/form/jcf.scrollable.js"></script>
    <script src="~/Content/js/form/jcf.select.js"></script>

    <!-- Custom checkbox and radio
    <script src="~/Content/js/checkator/fm.checkator.jquery.js"></script>
    <script src="~/Content/js/checkator/setting.js"></script> -->

    <!-- Custom input file -->
    <script src="~/Content/js/custominput/modernizr.js"></script>
    <script src="~/Content/js/custominput/custom-file-input.js"></script>

    <!-- Cube portfolio -->
    <script src="~/Content/js/cubeportfolio/jquery.cubeportfolio.min.js"></script>
    <script src="~/Content/js/cubeportfolio/masonry.js"></script>
    <!-- owl carousel -->
    <script src="~/Content/js/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/js/owlcarousel/setting.js"></script>

    <!-- Textillate -->
    <script src="~/Content/js/textillate/jquery.fittext.js"></script>
    <script src="~/Content/js/textillate/jquery.lettering.js"></script>
    <script src="~/Content/js/textillate/jquery.textillate.js"></script>
    <script src="~/Content/js/textillate/setting.js"></script>

    <!-- Twitter
    <script src="~/Content/js/twitter/tweetie.min.js"></script>
    <script src="~/Content/js/twitter/ticker.js"></script>
    <script src="~/Content/js/twitter/setting.js"></script>-->

    <!-- Custom -->
    <script src="~/Content/js/custom.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap") This was my issue with the errors...*@
   
</body>
</html>
@RenderSection("scripts", required: false)