@{
    ViewBag.Title = "Home Page";
}
@*  0Send traffic
    0Configure monitors
    0Setup key transactions
    -Enable logs (multiple log frameworks)
    -Create some custom metrics
    0Create a log query and save it, configure a monitor
    0Setup Error monitors
    0Create custom Notifications
    Twitter? Make sure it is making some 3rd party calls that we can track
    -Logging utilitizing #s.
    -Utilizing custom profiling and tracked functions
    Done Identity with login capabilities (set up validation so we can see some validation errors)*@

@*Get all the docs to link too.
    X-Enable logs (multiple log frameworks) http://support.stackify.com/hc/en-us/sections/201106055--NET
    X-Create some custom metrics http://support.stackify.com/hc/en-us/articles/205419705-Custom-Metrics-Overview
    X-Logging utilitizing #s. Adding Tags Your Log Messages: http://support.stackify.com/hc/en-us/articles/204719839-Logs-Dashboard
    -Utilizing custom profiling  http://support.stackify.com/hc/en-us/articles/205564809-Configuring-Custom-Profiling-for-NET
    X-and tracked functions http://support.stackify.com/hc/en-us/articles/215107746-Using-Tracked-Functions
*@

<!-- Start contain wrapper -->
<div class="contain-wrapp paddingbot-clear">
    <div class="container">
        <div class="row marginbot80">
            <div class="col-md-4 col-sm-6">
                <div class="grider-column">
                    <a href="@Url.Action("https://stackify.com/")" class="grider-column-captionWrap">Stackify.com</a>
                    <div class="grider-content animated-text">
                        <h1 class="tlt"><span>Stackify</span> Retrace</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-md-offset-1">
                <div class="grider-column col-push">
                    <a href="@Url.Action("https://stackify.com/retrace/")" class="grider-column-captionWrap">Retrace</a>
                    <img src="~/Content/img/Stackify/Retrace_Logo_OnWhite_600.png" class="img-responsive" alt="Retrace logo" />
                </div>
            </div>
        </div>
        <div class="row marginbot40">
            <div class="col-md-4 col-sm-6 col-md-offset-1">
                <div class="grider-column">
                    <div class="grider-content">
                        <a href="@Url.Action("https://stackify.com/prefix/")" class="grider-column-captionWrap">Prefix</a>
                        <img src="~/Content/img/Stackify/Prefix_Logo_OnWhite_600.png" class="img-responsive" alt="Prefix logo" />
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-md-offset-1">
                <div class="grider-column">
                    <a href="@Url.Action("https://stackify.com/blog/")" class="grider-column-captionWrap">Blog</a>
                    @*<h2 class="imgbg-fill">Blog</h2>*@
                </div>
            </div>
        </div>
        <div class="row marginbot80">
            <div class="col-md-3 col-sm-6 col-md-offset-6">
                <div class="grider-column margintop60">
                    <a href="@Url.Action("https://s1.stackify.com/")" class="grider-column-captionWrap">To Retrace</a>
                    <img src="~/Content/img/Stackify/LoginPage.png" class="img-responsive" alt="S1 Stackify" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="clearfix"></div>
                <!-- Start footer -->
                <footer class="white-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="widget">
                                    <ul class="link-list">
                                        <li><a href="#">Links</a></li>
                                        <li><a href="#">Another Link</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="widget">
                                    <ul class="link-list">
                                        <li><a href="#">Other Link</a></li>
                                        <li><a href="#">And Another</a></li>                                       
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            
                        </div>
                    </div>
                </footer>
                <!-- End footer -->
            </div>
        </div>
    </div>
</div>
<!-- End contain wrapper -->
@section scripts{
}