@using LinqToTwitter;
@{
    ViewBag.Title = "Tweets";
}
@model TweeterReader.Data.TwitterClass


<div class="col-md-10 col-md-push-1">
    <div class="row">
        <div class="col-sm-10">
            <div class="intro">
                <h4>
                    Twitter Tweet Typing Analysis
                </h4>
                <p>
                    Discover the workload of typing on a QWERTY keyboard, how efficient is it?
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <img src="~/Content/img/Stackify/TwitterIcon.jpg" class="img-circle img-responsive" alt="Image demo 2" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="divider"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="title-head centered">
                <span>Tweet Analysis</span>
                <h4>Statistics Explanation</h4>
            </div>
            <div class="process-number">
                <span class="pn-number">01</span>
                <span class="pn-steps">Data</span>
                <h5>Key Strokes</h5>
                <p>Total number of Keystrokes used to type the tweet</p>
            </div>
            <div class="process-number">
                <span class="pn-number">02</span>
                <span class="pn-steps">Data</span>
                <h5>Finger Travel</h5>
                <p>Approximation of the distance moved by fingers, calculated in 'keys'</p>
            </div>
            <div class="process-number">
                <span class="pn-number">03</span>
                <span class="pn-steps">Data</span>
                <h5>Distance/key</h5>
                <p>Calculated using finger travel per stroke</p>
            </div>
            <div class="process-number">
                <span class="pn-number">04</span>
                <span class="pn-steps">Data</span>
                <h5>Hands</h5>
                <p>Using the Keyboard layout and generic typing patterns the number of keys typed for each finger is counted</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="divider"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="title-head centered">
            <span>Tweets</span>
            <h4>Typing analysis</h4>
        </div>
    </div>
</div>
@* Generate Tweets and stats *@
@for (int i = 0; i < Model.tweetArray.Length; i++)
{
    <div class="cta-wrapp">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>@Model.tweetArray[i].Text</h4>
                </div>
                <div class="col-md-3">
                    <span class="testimoni-author">&#64;Stackify</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-10 col-sm-push-1 col-md-push-0" style="padding:5%">
        <h4 style="text-align:center"><i class="fa fa-hand-o-left"></i> Left Hand</h4>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h6>Left<br />Pinkie:</h6>
                <h4 class="price">@Model.tweetStats[i].LPinkie</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <h6>Left<br />Ring:</h6>
                <h4 class="price">@Model.tweetStats[i].LRing</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <h6>Left<br />Middle:</h6>
                <h4 class="price">@Model.tweetStats[i].LMiddle</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <h6>Left<br />Index:</h6>
                <h4 class="price">@Model.tweetStats[i].LIndex</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-10 col-sm-push-1 col-md-push-0" style="padding:5%">
        <h4 style="text-align:center"><i class="fa fa-keyboard-o"></i> Overview</h4>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h6>Key<br />Strokes:</h6>
                <h4 class="price">@Model.tweetStats[i].Strokes</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <h6>Finger<br />Travel:</h6>
                <h4 class="price">@Model.tweetStats[i].KeyTravel</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <h6>Distance<br />/Key:</h6>
                <h4 class="price">@Model.tweetStats[i].Efficiency</h4>
            </div>
        </div>
    </div>
        <div class="col-md-4 col-sm-10 col-sm-push-1 col-md-push-0" style="padding:5%">
            <h4 style="text-align:center"><i class="fa fa-hand-o-right"></i> Right Hand</h4>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h6>Right<br />Index:</h6>
                    <h4 class="price">@Model.tweetStats[i].RIndex</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h6>Right<br />Middle:</h6>
                    <h4 class="price">@Model.tweetStats[i].RMiddle</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h6>Right<br />Ring:</h6>
                    <h4 class="price">@Model.tweetStats[i].RRing</h4>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h6>Right<br />Pinkie:</h6>
                    <h4 class="price">@Model.tweetStats[i].RPinkie</h4>
                </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-md-12">
                        <div class="divider"></div>
                    </div>
                </div>
}

<!-- End contain wrapper -->
@section scripts{
    @*<script type="text/javascript">
            $(window).load(function () {
                $("#partialViewHolder").load( "@Url.Content("_TweetStats(@Model)")" );
           $( "#partialViewHolder" ).show();
        })
        </script>*@
}