@using LinqToTwitter;
@{
    ViewBag.Title = "Tweets";
}
@model TweeterReader.Data.TwitterClass


<div class="contain-wrapp paddingbot-clear mobile-wrapp">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="intro">
                    <h4>
                        Twitter Tweet Typing Analysis
                    </h4>
                    <p>
                        Discover the workload of typing on a QWERTY keyboard, how efficient is it?
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <img src="~/Content/img/Stackify/TwitterIcon.jpg" class="img-circle img-responsive" alt="Image demo 2" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-head centered">
                    <span>Tweets</span>
                    <h4>Typing analysis</h4>
                </div>
            </div>
        </div>
        @* Generate Tweets and stats *@     
        @for (int i = 0; i < Model.tweetArray.Length; i++)
        {
            <div class="cta-wrapp">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>@Model.tweetArray[i].Text</h4>
                        </div>
                        <div class="col-md-3">
                            <span class="testimoni-author">Stackify</span>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Overview</h4>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].Strokes"><span class="fa fa-keyboard-o"></span><span class="start-count">0</span></div>
                        <p>Key Strokes</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].KeyTravel"><span class="fa fa-adjust"></span><span class="start-count">0</span></div>
                        <p>Finger Travel</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div><span class="fa fa-balance-scale"></span><h2 style="color: #787878;">@Model.tweetStats[i].Efficiency</h2></div>
                        <p>Distance/Key</p>
                    </div>
                </div>
            </div>
            <div></div>
            <h4>Right Hand</h4>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].RIndex"><span class="fa fa-hand-o-right"></span><span class="start-count">0</span></div>
                        <p>Right Index</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].RMiddle"><span class="fa fa-hand-o-right"></span><span class="start-count">0</span></div>
                        <p>Right Middle</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].RRing"><span class="fa fa-hand-o-right"></span><span class="start-count">0</span></div>
                        <p>Right Ring</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].RPinkie"><span class="fa fa-hand-o-right"></span><span class="start-count">0</span></div>
                        <p>Right Pinkie</p>
                    </div>
                </div>
            </div>
            <div></div>
            <h4>Left Hand</h4>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].LIndex"><span class="fa fa-hand-o-left"></span><span class="start-count">0</span></div>
                        <p>Left Index</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].LMiddle"><span class="fa fa-hand-o-left"></span><span class="start-count">0</span></div>
                        <p>Left Middle</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].LRing"><span class="fa fa-hand-o-left"></span><span class="start-count">0</span></div>
                        <p>Left Ring</p>
                    </div>
                </div>
            </div>
            <div class="row count" style="    display: inline-block;">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-item">
                        <div class="count-value" data-count="@Model.tweetStats[i].LPinkie"><span class="fa fa-hand-o-left"></span><span class="start-count">0</span></div>
                        <p>Left Pinkie</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="divider"></div>
                </div>
            </div>
        }
    </div>
</div>
<!-- End contain wrapper -->
@section scripts{
@*<script type="text/javascript">
    $(window).load(function () {
        $("#partialViewHolder").load( "@Url.Content("_TweetStats(@Model)")" );
   $( "#partialViewHolder" ).show();
})
</script>*@
}